/* pages/cart/cart.wxss */
/**index.less**/
.manage-product{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  // align-items: center;
  width: 100%;
  height: 200rpx;
  position: fixed;
  top: 0rpx;
  z-index: 10;
  // margin-bottom: 20rpx;
  .text{
    padding-right: 20rpx;
    font-size: 34rpx;
    line-height: 310rpx;
    color: #646566;
  }
  .cart{
    padding-left: 20rpx;
    color: black;
    font-size: 38rpx;
    font-weight: 600;
    line-height: 220rpx;
  }
}